<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header class="h_color" id="head">
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>RESUME MAKER</h2>
                                  <p>Attractive resumes Download and Use Now!</p> 
                                </div>
                                <div class="nav_button_right">
                                <a  class="btn btn-primary" href="#popup1">Add your Data</a>
                                    
                                <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Resume">
                                <a class="btn btn-info" href="resume_template">More Resume Templates</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>

       <section id="resume_2">
           <div class="container">
                <div class="resume_1">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 id="uname">Imedine DJERADI</h1>
                               <!-- <p>It Project Manager</p>-->
                                <p style="text-align: justify" id="uabout">I’m just a simple man making his way through the galaxy.</p>
                            </div>
                        </div>

                        <div class="col-md-4" style="float: left;">
                            <img src="../static/img/resume_1/about_us_icon.png" width="40px"><span style="padding: 12px;font-weight: 600">ABOUT ME</span>
                            <div class="" style="border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;"></div>                        
                            <div style="margin-top: 20px">
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/birthday.png" width="30px"><span style="padding: 12px;font-weight: 600;" id="udob">May 22, 1996</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/phone.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uphnum">+33 1 82 73 24 08</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/location.png" width="30px"><span style="padding: 12px;font-weight: 600" id="ulocation">Doxxtown, Panama</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/email.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uemail">imedine94@gmail.com</span></div>
                            </div>

                            <div style="margin-top: 25px" >
                                    <img src="../static/img/resume_1/computer.png" width="40px"><span style="padding: 12px;font-weight: 600">PERSONAL SKILLS</span>
                                </div>
                                <div style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;"></div>
                                <div class="col-md-12" style="width: 100%;margin-top: 12px">
                                    <ul id="skills_data_li">
                                        <li style="font-size:18px;margin-bottom: 5px">Acting like I know what I'm doing</li>
                                        <li style="font-size:18px;margin-bottom: 5px">Running my way downtown, walking by</li>
                                    </ul>
                            </div>

                            <div style="margin-top: 20px" >
                                    <img src="../static/img/resume_1/personal_info.png" width="40px"><span style="padding: 12px;font-weight: 600">PERSONAL DETAILS</span>
                            </div>
                            <div style= "border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>
                            <div style="margin-top: 12px">
                                <p id="fathername">Loves D&D</p>
                                <p id="mothername">Hates seafood</p>
                                <p id="permanentaddress">Permanent Address : Old District, Stormwind </p>
                            </div>
                        </div>

                        <div class="col-md-8" style="padding: 10px">
                            <h5>Career Objectives</h5>
                            <p style="text-align: justify" id="ucareerobject">The FitnessGram™ pacer test is a multistage aerobic capacity test that progressively gets more difficult as it continues.</p>
                            <div style="margin-top: 15px" >
                                    <img src="../static/img/resume_1/education.png" width="40px"><span style="padding: 12px;font-weight: 600">EDUCATION</span>
                            </div>
                            <div class="" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>
                            <div class="">
                                <table id="education_data_table" style="width: 100%;margin-top: 12px">
                                        <tr>
                                            <td>
                                                <span style='font-weight: 600;font-size: 20px'>Licence Informatique
                                                 </span> <br>Campus Montsouris</td>
                                            <td>Graduating in, September 2024</td>
                                        </tr>
                                </table>
                            </div> 

                            <div style="margin-top: 15px" >
                                    <img src="../static/img/resume_1/achiements.png" width="40px"><span style="padding: 12px;font-weight: 600">ACHIEVEMENTS</span>
                                </div>
                                <div class="" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>    
                                <div style="width: 100%;margin-top: 12px">
                                    <ul id="achivements_data_li">
                                        <li style="font-size:18px;margin-bottom: 5px">Being alive, despite everything</li>
                                        <li style="font-size:18px;margin-bottom: 5px">Understanding what I'm doing.</li>
                                    </ul>
                                </div>
                        </div>

                            <div class="col-md-12" style="margin-top: 50px">
                                <h4>Declaration</h4>
                                <p>I, Imedine DJERADI, hereby declare that all the information provided above are false except my name. Give me a good grade. Please.</p>
                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                    ____________________________<br>
                                    <span id="n_declaration"></span>
                                    
                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                 <p id="dec_place" style="float: right">place</p>
                            </div>
                    </div>
                </div>
            </div>
       </section>


       <!-- Button to open the contact form -->
<button id="openForm">Contact Me</button>

<!-- Popup form -->
<div class="overlay" id="overlay"></div>
<div class="popup-form" id="popupForm">
  <h2>Contact Me</h2>
  <form id="contactForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="4" required></textarea><br>
    <button type="submit">Send</button>
  </form>
</div>

<script>
// Function to open the popup form
document.getElementById("openForm").onclick = function() {
  document.getElementById("popupForm").style.display = "block";
  document.getElementById("overlay").style.display = "block";
}

// Function to close the popup form
document.getElementById("overlay").onclick = function() {
  document.getElementById("popupForm").style.display = "none";
  document.getElementById("overlay").style.display = "none";
}

// Function to handle form submission (you can replace this with your backend processing)
document.getElementById("contactForm").onsubmit = function(event) {
  event.preventDefault();
  var name = document.getElementById("name").value;
  var message = document.getElementById("message").value;
  alert("Name: " + name + "\nMessage: " + message); // Just an alert, you can replace this with your backend processing
  document.getElementById("popupForm").style.display = "none";
  document.getElementById("overlay").style.display = "none";
}
</script>

</body>
</html>



    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/my.js"></script>
    </body>
</html>
